<%-include('cabecalho.ejs')%>

<form method="POST">
    Id: <input type="text" name="id" readonly value="<%=aluno._id%>"><br>
    Nome: <input type="text" name="nome" placeholder="Nome" value="<%=aluno.nome%>"><br>
    Endereço: <input type="text" name="endereco" placeholder="Endereço" value="<%=aluno.endereco%>"><br>
    Telefone: <input type="text" name="telefone" placeholder="Telefone" value="<%=aluno.telefone%>"><br>
    <input type="submit">
</form>
<script>

</script>
<%-include('rodape.ejs')%>